version: '3.8'
services:
  postgres:
    networks:
      - coursework-net
    image: postgres:latest
    environment:
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=super_secret_password
      - POSTGRES_DB=course_work
    ports:
      - "5432:5432"
    deploy:
      replicas: 1
      placement:
        constraints:
          - node.role == worker
      restart_policy:
        condition: on-failure

networks:
  coursework-net:
    external: true
